# ==================================================
# Sanji Homelab - .gitignore
# ==================================================

############################
# OS
############################

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

############################
# VS Code
############################

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

############################
# Logs
############################

*.log

############################
# Temporary files
############################

*.tmp
*.temp
*.bak
*.old
*.swp

############################
# Python
############################

__pycache__/
*.pyc

############################
# PowerShell
############################

*.ps1xml

############################
# Terraform
############################

.terraform/
*.tfstate
*.tfstate.*

############################
# Virtual Machines
############################

*.vmdk
*.vdi
*.vhd
*.vhdx
*.qcow2
*.img
*.ova
*.ovf
*.iso

############################
# Proxmox Backups
############################

*.zst
*.gz
*.lzo

############################
# Archives
############################

*.zip
*.rar
*.7z
*.tar
*.tar.gz

############################
# Certificates / Keys
############################

*.pem
*.key
*.pfx
*.crt
*.csr

############################
# SSH
############################

id_rsa
id_rsa.pub
known_hosts

############################
# Environment Variables
############################

.env
.env.*

############################
# Secrets
############################

secrets/
credentials/
passwords/

############################
# Node
############################

node_modules/

############################
# Build folders
############################

dist/
build/

############################
# IDE
############################

.idea/

############################
# Network Backups
############################

configs/backups/
configs/temp/

############################
# Personal Notes
############################

notes-private/
todo-private.md
